.header {
    height: 80px;
    background-color: #333;
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 10;
    margin-bottom: 20px;

    .container {
        padding: 0 100px;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: space-between;

        .logo {
            font-size: 20px;
            font-weight: bold;
            color: white;
            text-decoration: none;
        }

        .search {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            height: 30px;

            input {
                width: 100%;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                outline: none;
                height: 40px;
                border: none;
                padding: 0 10px;
            }

            .search-icon {
                height: 40px;
                background-color: #333;
                padding: 10px;
                color: white;
                font-size: 20px;
                cursor: pointer;
                transition: all .3s ease;
                background-color: white;
                color: black;
                border-left: 1px solid black;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;

            }
        }

        .icon-bag {
            a {
                font-size: 20px;
                color: white;
                cursor: pointer;
                position: relative;
                line-height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            span {
                position: absolute;
                top: -5px;
                right: -10px;
                background-color: #716464;
                display: inline-block;
                width: 20px;
                height: 20px;
                text-align: center;
                border-radius: 50%;
                line-height: 20px;
            }

        }

        .menu {
            display: flex;
            align-items: center;
            line-height: 80px;
            color: white;
            font-size: 20px;
            display: none;
        }


    }
}

@media only screen and (max-width: 600px) {
    .header {

        .container {

            display: flex;
            padding: 40px;
            gap: 30px;

            .logo {
                display: none;
            }

            .search {
                flex: 1;
            }

            .icon-bag {}

            .menu {
                display: block;
                margin-top: 10px;
            }


        }
    }
}