.shopping-cart {
    width: 100%;
    padding: 0 100px;

    .title {
        font-size: 20px;
        font-weight: 300;
        margin-top: 30px;
    }

    .container-cart {
        margin-top: 20px;

        // h1 {
        //     font-size: 30px;
        //     font-weight: 500;
        //     margin-bottom: 20px;
        // }

        .cart-info {
            width: 100%;
            display: flex;
            -webkit-box-shadow: 1px 5px 24px 0px rgba(0, 0, 0, 0.35);
            -moz-box-shadow: 1px 5px 24px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 1px 5px 24px 0px rgba(0, 0, 0, 0.35);
            padding: 10px 0;
            border-radius: 10px;

            .left-info {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                flex: 2;

                .img {
                    flex: 1;
                    margin-left: 10px;

                    img {
                        width: 100px;
                        object-fit: contain;
                    }
                }

                .info {
                    flex: 3;

                    h1 {
                        color: #333;
                        font-size: 20px;
                    }

                    span {
                        font-weight: 300;
                    }

                    .btn {
                        display: flex;
                        margin-top: 10px;

                        .quantity {
                            padding: 5px 10px;
                            border-radius: 5px;
                            cursor: pointer;
                        }

                        button:not(:nth-child(2)) {
                            padding: 5px 20px;
                            border-radius: 5px;
                            cursor: pointer;

                            &:hover {
                                background-color: #333;
                                color: #fff;
                            }
                        }
                    }
                }
            }

            .right-info {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                flex-direction: column;
                margin-bottom: 10px;
                margin-right: 20px;

                .price {
                    font-weight: 300;
                }

                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;

                    .icon-delete {
                        cursor: pointer;
                    }

                    button {
                        padding: 5px;
                        border-radius: 5px;

                        &:hover {
                            background-color: #333;
                            color: #fff;
                            cursor: pointer;
                        }
                    }

                }
            }
        }

    }

    .total {
        display: flex;
        flex-direction: column;

        .total-bill {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            margin-bottom: 10px;

            .total-title {
                font-weight: 400;
                font-size: 30px;
                margin-left: 20px;
            }

            .total-price {
                font-weight: bold;
                margin-right: 20px;
                background-color: #333;
                padding: 5px;
                color: white;
                border-radius: 5px;
            }
        }

        button {
            display: inline-block;
            margin: 0 20px;
            margin-bottom: 10px;
            padding: 5px 0;
            border-radius: 10px;
            transition: all .2s ease;
            cursor: pointer;


            &:hover {
                background-color: #333;
                color: white;
            }

            &:disabled:hover {
                cursor: progress;
            }
        }

        a {
            text-decoration: none;
            text-align: center;
            border: 1px solid black;
            margin: 0 20px;
            padding: 5px 0;
            color: black;
            border-radius: 10px;
            transition: all .2s ease;


            &:hover {
                background-color: #333;
                color: white;
            }
        }

    }

}

// responsive
@media only screen and (max-width: 600px) {

    .container-cart {
        .cart-info {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .left-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .img {}

                .info {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .title {
                        display: none;
                    }

                    span {
                        display: none;
                    }
                }
            }

            .right-info {}
        }
    }
}

@media only screen and (max-width: 376px) {
    .shopping-cart {
        h1 {
            margin: 0;
        }

        padding: 0 30px 30px;
    }
}