.not-found {
    width: 100vw;
    height: calc(100vh - 80px - 252px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    i {
        font-size: 80px;
        height: 80px;
        margin-bottom: 10px;
    }

    .title {
        font-weight: 500;
    }
}